body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0e9e9;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #7bc2ad;
    padding: 20px 0;
    border-radius: 8px 8px 0 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centering the content */
    gap: 20px; /* Adding space between image and text */
}

.profile-image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid #fff; /* White border for better visibility */
}

.header-text {
    text-align: left;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header p {
    margin: 5px 0;
    font-size: 16px;
}

section {
    margin-bottom: 20px;
    /* display: none; */
}

#education, #skills, #experience{
    display: none;
}

h2 {
    font-size: 1.5em;
    color: #333;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 15px;
    
}

hr{
    color: #333;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    background-color: #7bc2ad;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #e8a174;
}

.job, .uni {
    margin-bottom: 15px;
}

h3 {
    font-size: 1.2em;
    color: #333;
    margin: 0;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: #7bc2ad;
    margin-top: 20px;
    border-radius: 0 0 8px 8px;
}

